*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  width: 100%;
  min-height:100dvh;
  background-color: rgb(1, 1, 56);
}

.welcome{
  width: 100%;
  height: 100dvh;
  position:relative;
}

.welcome .poster{
  width: 100%;
  height: 100%;
  object-fit:contain;
  position: relative;
}
.welcome .blur{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  filter: blur(20px);
}

.welcome .blur img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome .btn-start{
  min-width:fit-content;
  padding: .5rem 2rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  z-index: 2;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 50vw;
}

.menu{
  height: 100dvh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  place-items: center;
}

.menu select{
  width: 40%;
  min-width: 250px;
  padding: .5rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50vw;
  color: white;
  font-size: 1.3rem;
}
.menu select option{
  background-color: rgb(24, 24, 46);
  color: white;
  border: none;
}
.menu .btn-next{
  color: white;
  background-color: green;
  width: fit-content;
  padding: .5rem 2rem;
  border: none;
  font-size: 2rem;
  border-radius: 50vw;
}

.play-ground{
  width: 100%;
  /* max-height: 100dvh;
  overflow: hidden; */
  min-height: 100dvh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.play-ground .timer{
  --start:0%;
  --end:0%;
  height: 100px;
  width: 100px;
  aspect-ratio: 1;

  background: conic-gradient(rgb(81, 2, 146) var(--start), rgb(86, 40, 212) var(--end), transparent var(--end) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  position: relative;
  border-radius: 50%;
  box-shadow:inset 0 0 20px -2px rgba(255, 255, 255, 0.466);
}
.timer p{
  position: relative;
  z-index: 1;
}
.timer .after{
  position: absolute;
  inset: 0;
  width: 90%;
  height: 90%;
  z-index: 0;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: rgb(1, 1, 56);
  border-radius: 50%;
}
.game-card_wrapper{
  flex: 3;
  width: 90%;
  min-height: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px; /* Establishes a 3D perspective */
  transform-style: preserve-3d; /* Enables 3D rendering for children */
  /* background-color: red; */
}

.game-card_wrapper .game-card{
  max-height:400px;
  min-height:350px;
  height: 100%;
  /* width: 265px; */
  aspect-ratio: 6/9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.game-card_wrapper .game-card .card-front,.game-card_wrapper .game-card .card-back{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-card_wrapper .game-card .card-front{
  background-color:transparent;
  border-radius: 20px;
  max-width: 100%;
  height: 100%;
}
.game-card_wrapper .game-card .card-back{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
   animation: .5s linear forwards hide;
}
.game-card .card-back img{
  position: absolute;
  object-fit: contain;
  z-index: 0;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 6/9; */
}
.game-card_wrapper .game-card.revealed .card-back{
   animation: .5s linear forwards reveal;
}
.game-card_wrapper .game-card.hide .card-back{
   animation: .5s linear forwards hide;
}

.game-card .round-keyword{
  font-size: 1.5rem;
}

.btn-reveal_hide{
  padding: .5rem 2rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 50vw;
  border: none;
}

.btn-reveal_hide.hide{
  background-color: rgb(80, 77, 77);
}
.btn-reveal_hide.reveal{
  background-color: green;
}
@keyframes hide{
  from{
    transform:translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
@keyframes reveal{
  
  to{
    transform:translateX(100%);
  }
}